actionUserLookupType="email-address"
actionUserLookupValue="trey@pillar.com"
actionUserLookupValueWorkflowContextKey="emailAddress"
companyId=L"38302"
config-workflow-node-identifier-id="onboarding-example"
createdEntityIdentifierWorkflowContextKey="newUserGroupId"
enable=B"true"
entityCreationAttributes=[ \
  "\{\"entityAttributeName\":\"name\",\"useWorkflowContextKey\":true,\"workflowContextKey\":\"companyName\",\"defaultValue\":\"\"\}", \
  ]
exceptionWorkflowStatus="incomplete"
successWorkflowStatus="pending"
updateWorkflowStatusOnException=B"true"
updateWorkflowStatusOnSuccess=B"true"
useInContextUserForAction=B"false"
useWorkflowContextKeyForActionUserLookupValue=B"false"
